<div class="flex flex-col space-y-9 mt-10 mb-20 max-w-[1024px] mx-auto">
  <div class="flex flex-row justify-between">
    <h1 class="text-white text-4xl font-semibold">Cadastro de pessoas</h1>
    <p-button
      class="flex justify-center"
      [rounded]="true"
      size="large"
      (click)="newRegister()"
      class="flex justify-center"
      >Novo Cadastro<i class="pi pi-arrow-right"></i
    ></p-button>
  </div>
  <div>
    <form [formGroup]="searchForm" (submit)="onSearch()">
      <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input
          type="text"
          pInputText
          placeholder="Procurar"
          formControlName="searchText"
        />
      </p-iconfield>
    </form>
  </div>
  <app-user-list></app-user-list>
</div>
