<div class="border-b p-4">
  <h3 class="text-lg font-bold">Excluir cadastro</h3>
</div>

<div class="p-4">
  <p>O cadastro será excluído definitivamente. Você tem certeza que deseja continuar?</p>
</div>

<div class="flex justify-center gap-4 p-4">
  <button (click)="confirmDeletion(false)" class="w-1/4 bg-gray-200 hover:bg-gray-300 text-gray-800 py-2 px-4 rounded">
    Cancelar
  </button>

  <button (click)="confirmDeletion(true)"
    class="w-1/4 bg-gray-900 hover:bg-black text-white rounded-full px-3 py-2 flex items-center justify-center gap-2 font-light">
    <i class="bi bi-trash-fill"></i>
    Excluir
  </button>
</div>
