<div class="max-w-[25rem] mx-auto">
  <p-card>
    <form [formGroup]="form" (ngSubmit)="loginHandler()">
      <p-fluid>
        <div class="flex flex-col gap-2 mb-4">
          <label for="email-input">E-mail</label>
          <input
            pInputText
            id="email-input"
            type="email"
            formControlName="email"
          />
          @if (email?.invalid && email?.touched) {
            <p-message
              class="text-xs"
              severity="error"
              size="small"
              variant="simple"
              >E-mail inválido.</p-message
            >
          }
        </div>
        <div class="flex flex-col gap-2 mb-4">
          <label for="password-input">Senha</label>
          <p-password
            id="password-input"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
          />
          @if (password?.invalid && password?.touched) {
            <p-message
              class="text-xs"
              severity="error"
              size="small"
              variant="simple"
              >Senha inválida.</p-message
            >
          }
        </div>
      </p-fluid>

      <p-button
        type="submit"
        class="flex justify-center mt-5"
        [rounded]="true"
        size="large"
        >Login<i class="pi pi-arrow-right"></i
      ></p-button>
    </form>
    <a routerLink="/auth/register" class="flex justify-center mt-5">
      <p-message class="text-xs" severity="info" size="small" variant="simple"
        >Não possui conta? Registre-se aqui!</p-message
      >
    </a>
  </p-card>
</div>
