.table {
  border: 1px solid red;
}

.table-header {
  background-color: #142025;
  height: 49px;
  align-items: center;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 800;
}

.actions {
  width: 50px;
}
