<div class="bg-white">
  <div class="overflow-x-auto">
    <div class="min-w-max">
      <div
        class="grid grid-cols-4 font-bold bg-gray-900 text-white p-3 whitespace-nowrap"
      >
        <div class="pl-6">Nome</div>
        <div>E-mail</div>
        <div>Telefone</div>
        <div>Data de nascimento</div>
      </div>

      <div class="overflow-y-scroll max-h-[50vh]">
        <ng-container *ngFor="let user of usersData.users">
          <app-user-row
            [user]="user"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)"
          ></app-user-row>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="flex items-center p-6 space-x-4 bg-white">
    <p-button
      (click)="renderUsers(usersData.currentPage - 1)"
      [disabled]="usersData.currentPage === 1"
    >
      <i class="pi pi-angle-left"></i>
    </p-button>
    <span>
      Página {{ usersData.currentPage }} de {{ usersData.totalPages }}
    </span>
    <p-button
      (click)="renderUsers(usersData.currentPage + 1)"
      [disabled]="
        usersData.currentPage * usersData.limit >= usersData.totalCount
      "
    >
      <i class="pi pi-angle-right"></i>
    </p-button>
  </div>
</div>
