@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  min-height: 100vh;
  background-image: url("./assets/fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.p-popover-content {
  padding: 0;
}
